nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.active {
    background-color: blanchedalmond;
}

li a {
    padding: 5px;
    text-decoration: none;
}